
<div class="list-group">
    <a href="#" class="list-group-item">Điện thoại</a>
    <a href="#" class="list-group-item">Máy tính bảng</a>
    <a href="#" class="list-group-item">Laptop</a>
    <a href="#" class="list-group-item">Điện máy</a>
</div>